@font-face {
    font-family: 'Fyodor';
    src: url('Fyodor-BoldCondensedOblique.woff2') format('woff2'),
    url('Fyodor-BoldCondensedOblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fyodor';
    src: url('Fyodor-Bold.woff2') format('woff2'),
    url('Fyodor-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fyodor';
    src: url('Fyodor-BoldCondensed.woff2') format('woff2'),
    url('Fyodor-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fyodor';
    src: url('Fyodor-BoldCondensedOblique.woff2') format('woff2'),
    url('Fyodor-BoldCondensedOblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fyodor';
    src: url('Fyodor-BoldCondensed.woff2') format('woff2'),
    url('Fyodor-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fyodor';
    src: url('Fyodor-Bold.woff2') format('woff2'),
    url('Fyodor-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fyodor';
    src: url('Fyodor-BoldOblique.woff2') format('woff2'),
    url('Fyodor-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fyodor Exp';
    src: url('Fyodor-BoldExpandedOblique.woff2') format('woff2'),
    url('Fyodor-BoldExpandedOblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fyodor';
    src: url('Fyodor-BoldOblique.woff2') format('woff2'),
    url('Fyodor-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fyodor Exp';
    src: url('Fyodor-BoldExpandedOblique.woff2') format('woff2'),
    url('Fyodor-BoldExpandedOblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fyodor Exp';
    src: url('Fyodor-BoldExpanded.woff2') format('woff2'),
    url('Fyodor-BoldExpanded.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fyodor Exp';
    src: url('Fyodor-BoldExpanded.woff2') format('woff2'),
    url('Fyodor-BoldExpanded.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

